:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-bg-color: #f5f5f5;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --ptimary-dark-bg-color: #2f303a;
  --prymary-buttonbg-color: #f5f4fa;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.link {
  cursor: pointer;
}
.title {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  /*outline: 1px solid red;*/
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
p {
  margin: 0;
}
/* стили header*/
.page-header .main-nav {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-right: 215px;
}
.header-logo {
  /*outline: 1px solid red;*/
  margin-right: 93px;
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .logo-accent {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav li {
  /*outline: 1px solid red;*/
  margin-right: 50px;
}
.site-nav .nav-item:last-child {
  margin-right: 0;
}
.site-nav .link {
  display: block;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts {
  margin-left: auto;
  display: flex;
}
.contacts li {
  margin-right: 50px;
  /*outline: 1px solid red;*/
}
.contacts .item:last-child {
  margin-right: 0;
}

.contacts .link {
  display: block;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*стили fotter*/
footer {
  background-color: var(--ptimary-dark-bg-color);
  color: var(--primary-white-color);
}
.footer-logo {
  /*outline: 1px solid red;*/
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 215px;
}
footer .logo {
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-address {
  padding-left: 215px;
  padding-bottom: 60px;
  /*outline: 1px solid red;*/
}
.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.footer-address > .address > .item {
  margin-bottom: 9px;
}
.footer-address > .address > .item:last-child {
  margin-bottom: 0px;
}

/*страничка портфолио*/
h1,
h2,
h3 {
  color: var(--primary-title-color);
}
.project-nav .filter {
  font-family: 'Roboto';
  color: var(--primary-title-color);
  background-color: var(--prymary-buttonbg-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-nav .filter:hover,
.project-nav .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.examples .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*главная страница*/
/*банер*/
.hero {
  /*outline: 1px solid red;*/
  text-align: center;
  background-color: var(--ptimary-dark-bg-color);
}
.hero .title {
  margin: 106px;
  margin-left: 452px;
  margin-right: 452px;
  margin-bottom: 30px;
  /*outline: 1px solid red;*/
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .order {
  margin: 0 auto;
  display: block;
  margin-bottom: 106px;
  /*outline: 1px solid red;*/
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/*перелік переваг*/
.benefits {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.benefits .title {
  /*outline: 1px solid red;*/

  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits > .list {
  /*outline: 1px solid red;*/

  display: flex;
  padding-left: 215px;
  padding-right: 215px;
}
.benefits > .list > .item {
  /*outline: 1px solid red;*/

  margin-right: 30px;
}
.benefits > .list > .item:last-child {
  margin-right: 0px;
}
.benefits > .list > .item > p {
  /*outline: 1px solid red;*/

  margin-top: 10px;
}

/*Чим ми займаємося*/
.activity {
  padding-top: 0px;
}
.activity > .title {
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.activity > .list {
  /*outline: 1px solid red;*/
  padding-left: 215px;
  padding-right: 215px;

  display: flex;
}
.activity > .list > .item {
  margin-top: 50px;
  margin-right: 30px;
}
.activity > .list > .item:last-child {
  margin-right: 0px;
}

/*наша команда*/
.team {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team .title {
  padding-top: 30px;
  padding-bottom: 10px;
  /*outline: 1px solid red;*/

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;

  letter-spacing: 0.03em;
}
.team .team-title {
  margin-bottom: 50px;
  /*outline: 1px solid red;*/
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team > .list {
  padding-left: 215px;
  padding-right: 215px;
  /*outline: 1px solid red;*/

  display: flex;
  text-align: center;
}
.team > .list > .item {
  /*outline: 1px solid red;*/
  margin-right: 30px;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}
.team > .list > .item:last-child {
  margin-right: 0px;
}
.team > .list > .item > p {
  padding-bottom: 30px;
}
