:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-bg-color: #f5f5f5;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --ptimary-dark-bg-color: #2f303a;
  --prymary-buttonbg-color: #f5f4fa;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}
.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.link {
  cursor: pointer;
}
.title {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  outline: 1px solid red;
}
/* стили header*/
.page-header .main-nav {
  display: flex;
  align-items: center;
  padding-left: 215px;
  padding-right: 215px;
}
.header-logo {
  outline: 1px solid red;
  margin-right: 93px;
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .logo-accent {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
}
.site-nav li {
  outline: 1px solid red;
  margin-right: 50px;
}
.site-nav .nav-item:last-child {
  margin-right: 0;
}
.site-nav .link {
  display: block;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts {
  margin-left: auto;
  display: flex;
}
.contacts li {
  margin-right: 50px;
  outline: 1px solid red;
}
.contacts .item:last-child {
  margin-right: 0;
}

.contacts .link {
  display: block;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*стили fotter*/
footer {
  background-color: var(--ptimary-dark-bg-color);
  color: var(--primary-white-color);
}
footer .logo {
  color: var(--primary-white-color);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/*страничка портфолио*/
h1,
h2,
h3 {
  color: var(--primary-title-color);
}
.project-nav .filter {
  font-family: 'Roboto';
  color: var(--primary-title-color);
  background-color: var(--prymary-buttonbg-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-nav .filter:hover,
.project-nav .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.examples .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*главная страница*/
/*банер*/
.hero {
  outline: 1px solid red;
  text-align: center;
  background-color: var(--ptimary-dark-bg-color);
}
.hero .title {
  outline: 1px solid red;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .order {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/*перелік переваг*/
.benefits {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.benefits .title {
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*Чим ми займаємося*/
.acrivity .title {
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/*наша команда*/
.team {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.team .team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
