:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-bg-color: #f5f5f5;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --ptimary-dark-bg-color: #2f303a;
  --prymary-buttonbg-color: #f5f4fa;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  cursor: pointer;
}
.container {
  margin-left: 215px;
  margin-right: 215px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* стили header*/
.header-page > .container {
  display: flex;
}
.header-logo {
  outline: 1px solid red;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .logo-accent {
  color: var(--accent-color);
}
.site-nav {
  outline: 1px solid red;

  display: flex;
  padding-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav > .item {
  outline: 1px solid red;
  margin-right: 50px;
}
.site-nav > .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts {
  outline: 1px solid red;

  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts > .item {
  margin-right: 50px;
  outline: 1px solid red;
}
.contacts > .item:last-child {
  margin-right: 0px;
}

.contacts .link {
  text-decoration: none;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*стили fotter*/
.footer-page.container {
}

footer {
  background-color: var(--ptimary-dark-bg-color);
  color: var(--primary-white-color);
}
.footer-page .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-page .container > .footer-logo {
  margin-bottom: 20px;
}
footer .logo {
  outline: 1px solid red;

  color: var(--primary-white-color);
}
.address {
  outline: 1px solid red;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address > .item {
  outline: 1px solid red;

  margin-bottom: 9px;
}
.address > .item:last-child {
  margin-bottom: 0px;
}

.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/*страничка портфолио*/
h1,
h2,
h3 {
  color: var(--primary-title-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}
.project-nav .filter {
  font-family: 'Roboto';
  color: var(--primary-title-color);
  background-color: var(--prymary-buttonbg-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-nav .filter:hover,
.project-nav .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.examples .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*главная страница*/
/*банер*/
.hero {
  background-color: var(--ptimary-dark-bg-color);
  text-align: center;
}
.hero > .container {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 207px;
  padding-right: 207px;

  outline: 1px solid red;
}
.hero .title {
  margin-bottom: 30px;
  outline: 1px solid red;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .order {
  outline: 1px solid red;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}
/*перелік переваг*/
.benefits {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.benefits > .container > .list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits .title {
  margin-bottom: 10px;
  outline: 1px solid red;

  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits > .container > .list > .item {
  margin-right: 30px;
}
.benefits > .container > .list > .item:last-child {
  margin-right: 0px;
}

/*Чим ми займаємося*/
.activity > .container {
  padding-bottom: 94px;
}
.activity > .container > .list {
  display: flex;
}
.activity > .container > .list > .item {
  margin-right: 30px;
}
.activity > .container > .list > .item:last-child {
  margin-right: 00px;
}

.activity .title {
  margin-bottom: 50px;
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*наша команда*/
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .container > .list {
  display: flex;
  padding-bottom: 30px;
}
.team .container > .list > .item {
  outline: 1px solid red;
  margin-right: 30px;
}
.team .container > .list > .item:last-child {
  margin-right: 0px;
}

.team {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team .team-title {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team .title-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
